// See skeleton file for copyright info

@import "dependencies"; // don't remove me
@import "functions";	// custom functions

@mixin clear($element) {
	@if(quote($element) == "this") {
		&:after {
			content: "\0020";
			display: block; 
			height: 0; 
			clear: both; 
			visibility: hidden;
		}
	} @else {
		#{unquote($element)} {
			clear: both;
			display: block;
			overflow: hidden;
		}
	}
}

// grid ( [ number $width: 960px, [ bool $fluid: false, [ number $colWith: 40px, [ number $gutterWidth: 20px, [ number $colCount: 16 ] ] ] ] ] )
@mixin grid($width: $baseWidth, $fluid: $isFluid, $colWidth: $baseColWidth, $gutterWidth: $baseGutterWidth, $colCount: $baseColCount) {
	@if ( $fluid == true ) {
		@include _fluidGrid($colCount);
	} @else {
		@include _fixedGrid($width, $colWidth, $gutterWidth, $colCount);
	}
}

// mobileGrid ( [ number $width: 960px, [ number $colCount: 16 ]  ] )
@mixin mobileGrid($width: $baseWidth, $colCount: $baseColCount) {
	@include _mobileGrid($width, $colCount);
}