$headerBgColor: #222;
$headerBgBorderColor: $headerBgColor;
$headerH2Color: #ccc;

$contentBgColor: #fff;
$contentH3DivideColor: #d8d8d8;

$mainBgColor: #222;
$mainBorderRightColor: $contentBgColor;

$saveBarBgColor: $contentBgColor;
$saveBarBorderColor: #ddd;

$navBgColor: #333;
$navBgCurrentColor: $navBgColor;
$navCurrentColor: white;
$navColor: #bbb;
$navHoverColor: #2ea2cc;

$inputColor: #333;
$inputBgColor: #fff;
$inputBorderColor: #ddd;
$inputBgHover: #fff;
$inputFocusHover: $inputBgHover;
$inputFocusBorderColor: #999;

$selectBgColor: $contentBgColor;
$selectBorderColor: #ddd;

$sliderLiBorderColor: $contentBgColor;
$sliderLiBgColor: #0074a2;
$sliderLiColor: #fff;
$sliderBodyColor: #fff;
$sliderBodyBgColor: $navBgColor;
