@import "includes/fresh";
@import "includes/coffee";
@import "includes/ectoplasm";
@import "includes/light";
@import "includes/midnight";
@import "includes/ocean";
@import "includes/sunrise";
@import "includes/blue";

@mixin wp38($theme: false) {
	$schemes: "fresh", "light", "blue", "coffee", "ectoplasm", "midnight", "ocean", "sunrise";

	@if($theme == false or index($schemes, $theme) != false) {
		@include fresh;
	}

	@if($theme == "fresh") { @include fresh; }
	@if($theme == "light") { @include light; }
	@if($theme == "blue") { @include blue; }
	@if($theme == "coffee") { @include coffee; }
	@if($theme == "ectoplasm") { @include ectoplasm; }
	@if($theme == "midnight") { @include midnight; }
	@if($theme == "ocean") { @include ocean; }
	@if($theme == "sunrise") { @include sunrise; }

	#header {
		background: $headerBgColor;
		border-color: $headerBgBorderColor;
		.logo {
			h2 { color: $headerH2Color; }
		}
	}
	#info_bar { background: $infoBarBgColor; }
	#main {
		background: $mainBgColor;
		border-right-color: $mainBorderRightColor;
	}
	#content {
		background: $contentBgColor;
		.section {
			h3.heading { border-bottom-color: $contentH3DivideColor; }
		}
	}
	.save_bar {
		background: $saveBarBgColor;
		border-top-color: $saveBarBorderColor;
	}
	// sidebar
	#of-nav {
		ul {
			li {
				background: $navBgColor;
				&.current {
					a {
						background: $navBgCurrentColor;
						color: $navCurrentColor;
					}
				}
				a:link { color: $navColor; }
				a:hover { color: $navHoverColor; }
			}
		}
	} // #of-nav

	/* OVERRIDES */
	.controls {
		textarea,
		input,
		select {
			color: $inputColor;
			background: $inputBgColor;
			border-color: $inputBorderColor;
		}
		input:hover, textarea:hover { background-color: $inputBgHover; }
		input:focus, textarea:focus {
			background-color: $inputFocusHover;
			border-color: $inputFocusBorderColor;
		}
	} // .controls
	.select_wrapper {
		background-color: $selectBgColor;
		border-color: $selectBorderColor;
	}

	.slider {
		li {
			border-color: $sliderLiBorderColor;
			background: $sliderLiBgColor;
		}
	}
	.slide_header {
		background: $sliderLiBgColor;
		color: $sliderLiColor;
	}
	.slide_body {
		color: $sliderBodyColor;
		background: $sliderBodyBgColor;
	}
}
