@mixin coffee {
	$headerBgColor: #59524c !global;
	$headerBgBorderColor: $headerBgColor !global;
	$headerH2Color: #fff !global;

	$infoBarBgColor: $headerBgColor !global;

	$contentBgColor: #fff !global;
	$contentH3DivideColor: #d8d8d8 !global;

	$mainBgColor: #59524c !global;
	$mainBorderRightColor: $contentBgColor !global;

	$saveBarBgColor: $contentBgColor !global;
	$saveBarBorderColor: #ddd !global;

	$navBgColor: #46403c !global;
	$navBgCurrentColor: $navBgColor !global;
	$navCurrentColor: white !global;
	$navColor: #cdcbc9 !global;
	$navHoverColor: #c7a589 !global;

	$inputColor: #333 !global;
	$inputBgColor: #fff !global;
	$inputBorderColor: #ddd !global;
	$inputBgHover: #fff !global;
	$inputFocusHover: $inputBgHover !global;
	$inputFocusBorderColor: #999 !global;

	$selectBgColor: $contentBgColor !global;
	$selectBorderColor: #ddd !global;

	$sliderLiBorderColor: $contentBgColor !global;
	$sliderLiBgColor: #0074a2 !global;
	$sliderLiColor: #fff !global;
	$sliderBodyColor: #fff !global;
	$sliderBodyBgColor: $navBgColor !global;
}
