@mixin sunrise {
	$headerBgColor: #cf4944 !global;
	$headerBgBorderColor: $headerBgColor !global;
	$headerH2Color: #fff !global;
	$headerSpan: #f0c8c6 !global;

	$infoBarBgColor: $headerBgColor !global;

	$contentBgColor: #fff !global;
	$contentH3DivideColor: #d8d8d8 !global;

	$mainBgColor: #cf4944 !global;
	$mainBorderRightColor: $contentBgColor !global;

	$saveBarBgColor: $contentBgColor !global;
	$saveBarBorderColor: #ddd !global;

	$navBgColor: #be3631 !global;
	$navBgCurrentColor: $navBgColor !global;
	$navCurrentColor: white !global;
	$navColor: #f0c8c6 !global;
	$navHoverColor: #f7e3d3 !global;

	$inputColor: #333 !global;
	$inputBgColor: #fff !global;
	$inputBorderColor: #ddd !global;
	$inputBgHover: #fff !global;
	$inputFocusHover: $inputBgHover !global;
	$inputFocusBorderColor: #999 !global;

	$selectBgColor: $contentBgColor !global;
	$selectBorderColor: #ddd !global;

	$sliderLiBorderColor: $contentBgColor !global;
	$sliderLiBgColor: #dd823b !global;
	$sliderLiColor: #fff !global;
	$sliderBodyColor: #fff !global;
	$sliderBodyBgColor: $navBgColor !global;
}
